@font-face
{
    font-family: Microsoft JhengHei UI,等线,方正楷体;
}
@font-face
{
    font-family: 方正楷体;
    src: url(https://txc233.cn/font/FZKTJW.TTF);
}
::selection{
	background-color: #39c5bc91;
}
* {
     box-sizing: border-box;
	 transition: width 0.200114514s ease-in-out  0s;
}
body {
   background-color: #f1f9f0;
   /* 修改配色[1]主体背景 */
}
smaller{
	font-size: large
}
#rcorners2 {
    border-radius: 25px;
    border: 2px solid #18b7b1;
	/* 修改配色[2]右侧栏背景 */
	text-color: white;
    /* background: #da9267; */
    padding: 20px;
    width: 100%;
    height: auto;
    text-align: left;
    vertical-align: middle;
    table-layout: fixed;
    word-wrap: break-all;
    word-break: normal;
    overflow: hidden;

}
b,strong{
	font-weight: 600
}
 .row::after {
     content: "";
     clear: both;
     display: table;
}
 [class*="col-"] {
     float: left;
     padding: 15px;
}

 .header {
     background-color: #18bace;
     color:hsl(154, 9%, 95%);
	 border-style: solid;
     border-color: #18bace;
	 /* 修改配色[3]标题 */
     border-width: 2px 20px; 
	/*background-image: url("/picture/a.png");
	background-repeat: no-repeat;
	background-position: right;*/
}
 .menu ul {
     list-style-type: none;
     margin: 0;
     padding: 0;
}
 .menu li {
     padding: 8px;
     margin-bottom: 7px;
     background-color: #18b7b1;
     color: #ffffff;
     box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
 .menu li:hover {
     background-color: hsl(178, 77%, 38%);
}
 .aside {
	 font-family:Microsoft JhengHei UI,等线,方正楷体;
     background-color: hsl(198, 47%, 84%);
     padding: 15px;
     color: #000000;
     font-size: 14px;
     box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
 .footer {
     background-color: hsl(176, 55%, 70%);
     color: #000000;
     text-align: center;
     font-size: 12px;
     padding: 15px;
}
	h1{
		font-family:Microsoft JhengHei UI,等线,方正楷体;
	}
.text,li {
    font-family:Microsoft JhengHei UI,等线,方正楷体;
}
marquee {
    font-family:Microsoft JhengHei UI,等线,方正楷体;
    margin-left: 4%;
    height:8%;
    width:92%;
}
.time {
    font-family:Microsoft JhengHei UI,等线,方正楷体;
    text-align: right;
}
.heimu {
    background-color: rgba(0,0,0,1);
    width: 200px;
    height: 200px;
}
.heimu:hover {
    color: rgba(255,255,255,.9);
    width: 200px;
    height: 200px;
}
img.si{
	width: 17px;
	height: 17px;
}
img{  
    width: auto;  
    height: auto;  
    max-width: 100%;  
    max-height: 100%;     
} 

/* For mobile phones: */
 [class*="col-"] {
     width: 100%;
}

new{
	font-family: 宋体;
}
h2{
	font-family: Microsoft JhengHei UI,等线,方正楷体;
}
.yy{
	text-decoration: none;
	color: white;
	font-family:Microsoft JhengHei UI,等线,方正楷体;
	font-size: 18px;
	font-weight: 500;
}
 @media only screen and (min-width: 600px) {
    /* 针对平板电脑： */
     .col-s-1 {
         width: 8.33%;
    }
     .col-s-2 {
         width: 16.66%;
    }
     .col-s-3 {
         width: 25%;
    }
     .col-s-4 {
         width: 33.33%;
    }
     .col-s-5 {
         width: 41.66%;
    }
     .col-s-6 {
         width: 50%;
    }
     .col-s-7 {
         width: 58.33%;
    }
     .col-s-8 {
         width: 66.66%;
    }
     .col-s-9 {
         width: 75%;
    }
     .col-s-10 {
         width: 83.33%;
    }
     .col-s-11 {
         width: 91.66%;
    }
     .col-s-12 {
         width: 100%;
    }
}
 @media only screen and (min-width: 768px) {
    /* 针对桌面： */
     .col-1 {
         width: 8.33%;
    }
     .col-2 {
         width: 16.66%;
    }
     .col-3 {
         width: 25%;
    }
     .col-4 {
         width: 33.33%;
    }
     .col-5 {
         width: 41.66%;
    }
     .col-6 {
         width: 50%;
    }
     .col-7 {
         width: 58.33%;
    }
     .col-8 {
         width: 66.66%;
    }
     .col-9 {
         width: 75%;
    }
     .col-10 {
         width: 83.33%;
    }
     .col-11 {
         width: 91.66%;
    }
     .col-12 {
         width: 100%;
    }
	body {
	margin-left: 3%;
    margin-right: 3%;
	}
}
 @media only screen and (min-width: 976px) {
	body {
	margin-left: 8%;
    margin-right: 8%;
	}
 }
  @media only screen and (min-width: 1072px) {
	body {
	margin-left: 7%;
    margin-right: 7%;
	}
 }
 @media only screen and (min-width: 1280px) {
	body {
	margin-left: 10%;
    margin-right: 10%;
	}
 }
 @media only screen and (min-width: 1430px) {
	body {
	margin-left: 15%;
    margin-right: 15%;
	}
 }
